/* Elements */

body {
    background-color:#D4E0F7;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    font-weight: normal;
    color: #34090C;

    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 00px;
    overflow-x: hidden;
    box-sizing: border-box;
}

header {
    background-color: #EA202C;
    font-size: 32pt;
    color: #1258DC;
    text-align: center;

    width: auto;
    height: auto;
    padding: 0px;
    margin: 0px;
}

main {
    width: 1400px;
    padding: 10px 100px;
    box-sizing: border-box;
    text-align: center;
}

footer {
    color: white;
    background-color: #EA202C;
    text-align: center;
    height: auto;
    padding: 20px;
    margin: 0px;
}

img {
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

/* IDs */

#resource-titles {
    color: red;
    font-size: 32pt;
}

#subtitle {
    color: white;
}

#quote {
    color: #2669B5;
    font-size: 24pt;
    font-style: italic;
}

/* Classes */

.img-boarder {
    border: 5px solid #2669B5;
    padding: 0px;
}

.linespace {
    line-height: 1.5;
}

.top-pic {
    width: 450px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #2669B5;
}